<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="itc.ink.hhxrf">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".launching.LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LaunchActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".launching.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DefActivityTheme"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DefActivityTheme"/>
        <activity android:name=".home_fragment.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DefActivityTheme"/>
        <activity android:name=".settings_group_fragment.element_fragment.ElementAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:theme="@style/DefActivityTheme"/>
        <activity android:name=".settings_group_fragment.history_db_fragment.CompareDataActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:theme="@style/DefActivityTheme"/>
        <activity android:name=".settings_group_fragment.history_db_fragment.CompareResultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:theme="@style/DefActivityTheme"/>
        <activity android:name=".home_fragment.last_report.ReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:theme="@style/DefActivityTheme"/>
        <activity android:name=".settings_group_fragment.calibration_fragment.TypeCalibrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DefActivityTheme"/>
        <activity android:name=".settings_group_fragment.calibration_fragment.TypeCalibrationAddSpOne"
            android:screenOrientation="portrait"
            android:theme="@style/DefActivityTheme"/>
        <activity android:name=".settings_group_fragment.calibration_fragment.TypeCalibrationAddSpTwo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:theme="@style/DefActivityTheme"/>
        <activity android:name=".settings_group_fragment.mark_db_fragment.MarkActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:theme="@style/DefActivityTheme"/>
        <activity android:name=".settings_group_fragment.mark_db_fragment.MarkElementActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:theme="@style/DefActivityTheme"/>
    </application>

</manifest>